.bg-new{
    background-color: #FF8C32 !important;
}
.for-body {
    color : #0093AB;
    font-family: 'poppins';
}
.img-s {
    width: 40vw;
}

.h-one {
    color: #FFD124;
}
.h-one:hover{
    color: #FFD124;
}
.logo {
    width:20px;
    height:20px;
}
.bg-submit {
    background-color:#FF8C32 !important;
    color:black;
}

.log-i {
    color : #00AFC1 !important;
}
.sigin-clr{
    font-size:12px;
}
.parent>.w-25{
    width:45vw;
}
.bg-opa {
    background-color: #8FBDD3 !important;
    opacity:0.8;
}

.position {
    margin-left: auto !important;
    margin-right:auto !important;
    
}
.maher {
     box-shadow: 0px 0px 14px 3px rgba(0, 147, 171, 0.67);
}
.for-font{
    font-size:70px;
}
.clr-lien{
    color:#FF8C32;
}
.orange{
    color:#FF8C32 !important;
}
.unborder{
    border:none !important;
    border-bottom:2px solid #FF8C32 !important ;
}
.table-bg {
    background-color : #EEEEEE !important;
}
.bg-delete {
    background-color : #FF8C32 !important ;
}
.bg-update {
    background-color : #4E944F !important;
}
input::placeholder {
    font-size:11px;
  }
.for-input>input::value{
    font-size:11px;
    color:orange;
}